.style1 {font-family: Arial, Helvetica, sans-serif}
.style2 {
	font-size: 36px;
	font-weight: bold;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}
.style6 {
	font-size: 14px;
	font-style: italic;
}
.style7 {
	font-size: 14px;
	color: #000000
}
.style10 {font-size: 24px; font-weight: bold;}
.style13 {color: #FFFFFF}
.style19 {
	color: #666666;
	font-size: 14px;
}
.style20 {font-size: 14px; color: #999999; }
.style21 {
	font-size: 16px;
}
.style23 {font-size: 10px}
.style24 {color: #666666}
.style25 {color: #66FFCC; font-size: 14px; }
.style26 {color: #666666; }
.style28 {
	font-size: 14px;
	font-weight: bold;
	color: #003366;
}
a:hover {
	color: #00CCFF;
	text-decoration: none;
}
a:link {
	color: #003366;
	text-decoration: underline;
}
a:visited {
	color: #003366;
	text-decoration: underline;
}
a:active {
	color: #003366;
	text-decoration: underline;
}
.style30 {font-size: 14px}
.style31 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.style32 {
	color: #000000;
	font-style: italic;
}
.style33 {color: #FFFFFF; font-size: 14px; }
.style35 {color: #003399}
.style36 {color: #006699}
.style37 {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
.style38 {
	font-size: 18px;
	font-weight: bold;
}
.style39 {
	font-size: 10px;
	color: #000000
}
